
@{
    ViewBag.Title = "NoData";
}

<h2>NoData</h2>

<div>There is no new data to review!</div>
<form action="/Database/Index"><button type="submit" class="btn btn-default">Go to the Database</button></form>