
@{
    ViewBag.Title = "Success";
}

<h2>Success</h2>

<div> Your link has been submitted for Approval! Thanks for contributing</div>
<form action="Index">
    <button type="submit" class="btn btn-default">Submit</button>
</form>