@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Sheridan Computing Society Knowledge Base</h1>
    <p class="lead">This is a database of information on computer programming and security topics</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>We are always trying to expand the database</h2>
        <p>
            If you find a useful link to an article or tutorial please let us know!
        </p>
        <form action="/Database/Index"><button type="submit" class="btn btn-default">Go to the Database</button></form>
    </div>
    <div class="col-md-4">
        <h2>
            Users Can Login here!
        </h2>
        <form action="/User/Index"><button type="submit" class="btn btn-default">login</button></form>
    </div>
  
</div>